.dashboard-container{
    padding: 10px 30px;
}
.dashboard-heading{
    width: 100%;
    padding: 20px;
    border-radius: .5rem;
    background-color: var(--green-background);
    color: white;
}
.dashboard-heading h1{
    font-size: 2.3rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.informatics{
    display: grid;
    margin-top: 20px;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}
.informatics div{
    text-align: center;
    padding: 20px;
    border-radius: .5rem;
    box-shadow: 0 1px 3px grey;
   color: rgba(0,0,0,0.7);
   font-weight: 300;
}
.informatics div span{
    font-size: 1.5rem;
    font-weight: 700;

}
.order-history{
    margin-top: 30px;
    box-shadow: 0 1px 3px grey;
    border-radius: .5rem;
}
.order-card{
    display: flex;
    justify-content: space-between;
    padding: 14px;
    border-bottom: .5px solid rgb(219, 219, 219);
    
}
.order-card .total-price{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: grey;
}
.order-card .order-text{
    font-weight: 700;
    font-size: 1.2rem;
    color: rgba(0,0,0,0.7);
}
.order-card .date-status{
    display: flex;
}
.order-card .date{
    color: grey;
    
}
.order-card .status{
    padding: 5px 10px;
    border-radius: 1rem;
    width: fit-content;
    background-color: rgba(182, 119, 3, 0.14);
    font-weight: 600;
    color: orange;
}

