.form-container{
    max-width: 500px;
    margin: 2.5rem auto;
    padding: 2rem;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease;
    font-family: Arial, Helvetica, sans-serif;
}
.form-container:hover{
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}

.form-container h2{
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
    font-size: 1.8rem;
    letter-spacing: 0.5px;
}
.form-container input{
    width: 100%;
    padding: 0.8rem 1rem;
    margin:  0.6rem 0 0;
    border: 1px solid #ccc;
    font-size: 1rem;
    transition: border-color o.25s ease;
}
.form-container input:focus{
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 3px rgba(0, 123, 123, 0.3);
}
.form-container button{
    width: 100%;
    padding: 0.8rem;
    margin-top: 1rem;
    background-color: rgba(3, 71, 45,0.8);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.form-container button:hover{
    background-color: rgba(24, 104, 51, 0.8);
    transform: translateY(-px);
}

.form-container p{
    text-align: center;
    margin-top: 1rem;
    font-size: .9rem;
    color: #444;
    
}

.form-container p.error{
    color: #d9534f;
}
.form-container p.success{
    color: #28a745;
}
.form-container span{
    color: red;
}

.sign-up-link{
    padding-left: 240px;
}

@media (max-width: 480px){
    .form-container{
        padding: 1.5rem;
        margin: 2rem auto;
        border-style: none;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
    }
     .sign-up-link{
        padding-left: 120px;
        padding-bottom: 10px;
        
    }
    .form-container h2{
        font-size: 1.3rem;
    }
}