.home-upper-section{
    height: 500px;
    
    background-image: url('/pharmacy-hub.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.home-upper-section .homepage-heading{
    font-size: 3rem;
    color: rgb(12, 61, 12);
    font-weight: 700;
   padding-top: 70px;
    text-align: center;
}
.homepage-text{
    font-size: 1.5rem;
    text-align: center;
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
    font-weight: 900;
    text-shadow:  1px 1px 0 white, -1px 1px 0 white;
}
.why-us{
    background-color: whitesmoke;
}
.explore-btn{
    padding: 10px 30px;
    background-color: rgb(13, 66, 13);
    width: fit-content;
    margin: auto;
    color: white;
    border-radius: .5rem;
    margin-top: 20px;
}
.why-us-hero{
    font-size: 2rem;
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
    color: rgba(0,0,0,0.7)
}

.why-us-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 40px;
    padding: 40px;
}
.why-us-card{
    background-color: white;
    padding: 40px;
    border-radius: .5rem;
}
.why-us-card .icon{
    width: 70px;
    height: 70px;
    color: white;
    justify-self: center;
    border-radius: 50%;
    background-color: var(--green-background);
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.why-us-card .icon i{
    font-size: 2rem;
}
.why-us-card .why-us-heading{
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.why-us-card .why-us-heading, .why-us-text{
    text-align: center;
}


@media (max-width: 500px){
   .home-upper-section .homepage-heading{
        font-size: 2.2rem;
        text-align: left;
        padding-top: 5px; 
        margin-left: 35px;
    }
    .homepage-text{
        font-size: 1.3rem;
    }
}