.welcome{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: rgb(0, 0, 0, 0.76);
}
.back-btn{
    border-radius: .5rem;
    padding: 3px 6px;
    margin-left: 15px;
    background-color: white;
    border: 2px solid var(--green-background);
    font-weight: 500px;
    font-size: 1rem;

}
.back-btn i{
    font-size: .7rem;
}
.search-field{
    margin-left: 15px;
    width: 600px;

}
.search-field input{
    border: 1px solid grey;
    padding: 10px 15px;
    width: 500px;
    border-radius: .5rem;
    font-size: 1.2rem;
}
.search-field input:focus{
    outline: none;
}
.search-field .clear-btn{
    margin-left: 7px;
    background-color: rgba(236, 32, 32, 0.5);
    padding: 12px 10px;
    border-radius: .5rem;
}
.no-results{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.no-results p{
    font-size: 1.8rem;
    margin-top: 100px;
    font-weight: 500;
}
.no-results button{
    background-color: var(--green-background);
    padding: 10px 15px;
    border-radius: .5rem;
}
.drug-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 10px;
    padding: 10px;
}
.drug-card-container{
    box-shadow: 1px 1px 3px 2px rgb(0, 0, 0, 0.1);
    border-radius: .5rem;
}
.drug-card-container .image-section{
    width: 100%;
    height: 200px;
}
.image-section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    border-radius: .5rem .5rem 0 0;
}

.description{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px 0;

}
.description .drug-name{
    font-size: 1.1rem;
    font-weight: 760;
    color: rgba(0,0,0,0.8);
}
.generic-name, .price, .add-to-cart{
    padding: 0 15px;
}
.description span{
    padding: 5px 10px;
    background-color: var(--faint-background);
    border-radius: 1rem;
}
.generic-name{
    color: grey;
}
.price{
    margin-top: 15px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--green-background);
}

.add-to-cart button{
    background-color: var(--green-background);
    padding: 10px 20px;
    margin: 10px 0 10px;
    border-radius: .5rem;
    color: white;
    font-weight: 650;

}